<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ea1f16e7-2319-48c6-94d9-71ed54902aae" Alias="footerProperties" Level="2">
  <Info>
    <Name>Footer Properties</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2afd18a1-1598-47f4-8f81-4e3f7744139a</Key>
      <Name>Footer Content</Name>
      <Alias>footerContent</Alias>
      <Definition>fe6cfa5e-82e4-48c8-9061-28f3c31946c0</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Create the footer content using the block grid editor]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>392ebc71-691f-4f71-b9cc-f093bae5fcc7</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Tab</Type>
      <SortOrder>50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>