<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a26ff00-62d5-4187-b56e-f48d395e6f98" Alias="Brand" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brand</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-21T13:35:46</CreateDate>
    <NodeName Default="Brand" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties />
</Media>