<?xml version="1.0" encoding="utf-8"?>
<Media Key="7aa0f755-0a77-43cf-94e5-95a765a0d49b" Alias="SVG Icons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SVGIcons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-21T13:32:45</CreateDate>
    <NodeName Default="SVG Icons" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>