<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f549038-50a4-47ca-979f-0ac0702ad0bd" Alias="Pictures" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Pictures</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-21T13:36:19</CreateDate>
    <NodeName Default="Pictures" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties />
</Media>