<?xml version="1.0" encoding="utf-8"?>
<Media Key="7faab81b-6fab-493c-89f1-3aaa19417ba6" Alias="Bluesky Logo" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BlueskyLogo</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-06-22T21:47:29</CreateDate>
    <NodeName Default="Bluesky Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fk2ku53l/bluesky_logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>