<?xml version="1.0" encoding="utf-8"?>
<Media Key="d63163be-9f8a-4bc8-b0a7-c93fedf7018f" Alias="Nckexchange" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Nckexchange</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-06-29T10:05:15</CreateDate>
    <NodeName Default="Nckexchange" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/r3rddvuk/nckexchange.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>