<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="949df879-f0b9-4c97-b7dd-daf6b1597b7e" Alias="searchPage" Level="2">
  <Info>
    <Name>Search Page</Name>
    <Icon>icon-search color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the search page for the site</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="334a782b-c931-4b76-ab52-5d36bc1b9e67">sEOProperties</Composition>
      <Composition Key="42c763f6-a64d-4bd1-a878-1aa9657527fa">taggingProperties</Composition>
      <Composition Key="7a4a748c-0199-45d3-9edb-63968e64070e">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>SearchPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="085f2b41-49a0-430c-837d-4c61121ce98d">SearchPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>