<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8ea7110-f555-4536-bdc2-18c77fdb0a48" Alias="Coming Soon" Level="4">
  <Info>
    <Parent Key="9047a04f-c27e-48f1-9643-7ebeaa86b9a0">Reusable Content</Parent>
    <Path>/Home/SiteSettings/ReusableContent/ComingSoon</Path>
    <Trashed>false</Trashed>
    <ContentType>reusableContentItem</ContentType>
    <CreateDate>2025-09-06T09:18:41</CreateDate>
    <NodeName Default="Coming Soon" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "599f2759-c823-4243-9559-6acf716162da",
      "key": "be533b6e-9aa9-499b-8d12-2b58ca861ba2",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 style=\u0022text-align: center;\u0022\u003ECOMING SOON!\u003C/h2\u003E\n\u003Cp style=\u0022text-align: center;\u0022\u003EWe are busy squirrelling in the background to get the shop ready.\u003C/p\u003E\n\u003Cp style=\u0022text-align: center;\u0022\u003EWatch this space.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "fafd9fe8-4929-4617-9f61-19131e5842bc",
      "key": "3f0a75e5-ce46-4744-ab0f-212f7d5cf399",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "539294d4-bf93-453e-8e14-0864e31bdab4",
              "mediaKey": "2e17f55b-96c2-41ec-ba4e-199c520c2e1d",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "imageWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "320"
        },
        {
          "alias": "imageHeight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "250"
        },
        {
          "alias": "furtherCropOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "rmode=crop\u0026rxy=0.0,0.0"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "be533b6e-9aa9-499b-8d12-2b58ca861ba2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3f0a75e5-ce46-4744-ab0f-212f7d5cf399",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "be533b6e-9aa9-499b-8d12-2b58ca861ba2",
        "contentUdi": "umb://element/be533b6e9aa9499b8d122b58ca861ba2",
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "3f0a75e5-ce46-4744-ab0f-212f7d5cf399",
        "contentUdi": "umb://element/3f0a75e5ce464744ab0f212f7d5cf399",
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
  </Properties>
</Content>