<?xml version="1.0" encoding="utf-8"?>
<Content Key="cae46c7a-6c5c-4c43-9b92-91ba94831650" Alias="Contact Us Call To Action" Level="4">
  <Info>
    <Parent Key="9047a04f-c27e-48f1-9643-7ebeaa86b9a0">Reusable Content</Parent>
    <Path>/Home/SiteSettings/ReusableContent/ContactUsCallToAction</Path>
    <Trashed>false</Trashed>
    <ContentType>reusableContentItem</ContentType>
    <CreateDate>2025-09-06T09:27:52</CreateDate>
    <NodeName Default="Contact Us Call To Action" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "500f5bab-3fd3-45c5-9542-83d0d2d17ae6",
      "key": "dc825f06-9979-4c87-a6d6-3f4c96c2f508",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "3fc06b41-21b9-4f47-87fe-b270954c3daf",
      "key": "4656b536-825a-483e-a0ae-4e0796627356",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Send us a message"
        },
        {
          "alias": "colour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "ffffff",
            "label": "White",
            "sortOrder": 0,
            "id": "1"
          }
        }
      ]
    },
    {
      "contentTypeKey": "599f2759-c823-4243-9559-6acf716162da",
      "key": "1b630fd8-5e6e-4e19-b99f-cce956bf9665",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center;\u0022\u003EFeel free to message us while you wait for exciting things to happen.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "38fb8ea0-c4ce-4f28-886a-aa724d0d9529",
      "key": "e8b93d89-68fc-40d2-af58-1a8d12786028",
      "udi": null,
      "values": [
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a6646ea6-cddc-4782-8c61-8bff776cff4d",
              "mediaKey": "1a8c1d54-7d67-4e20-9955-bc9206909037",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/90c6070dbcf64f199c96398407217525",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "dc825f06-9979-4c87-a6d6-3f4c96c2f508",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4656b536-825a-483e-a0ae-4e0796627356",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1b630fd8-5e6e-4e19-b99f-cce956bf9665",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e8b93d89-68fc-40d2-af58-1a8d12786028",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "4656b536-825a-483e-a0ae-4e0796627356",
                "contentUdi": "umb://element/4656b536825a483ea0ae4e0796627356",
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "56648fbc-bfaf-4a08-be86-2fe2811a7797"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "1b630fd8-5e6e-4e19-b99f-cce956bf9665",
                "contentUdi": "umb://element/1b630fd85e6e4e19b99fcce956bf9665",
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "a4e0a9de-8946-4fc5-8afe-37cbbcfe4299"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "e8b93d89-68fc-40d2-af58-1a8d12786028",
                "contentUdi": "umb://element/e8b93d8968fc40d2af581a8d12786028",
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "926f1779-e11c-4d6a-b9f5-ec32f403f817"
          }
        ],
        "columnSpan": 12,
        "contentKey": "dc825f06-9979-4c87-a6d6-3f4c96c2f508",
        "contentUdi": "umb://element/dc825f0699794c87a6d63f4c96c2f508",
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
  </Properties>
</Content>