<?xml version="1.0" encoding="utf-8"?>
<Content Key="90c6070d-bcf6-4f19-9c96-398407217525" Alias="Contact Us" Level="2">
  <Info>
    <Parent Key="69eeec76-d50a-4baf-b98e-15b1baaebd4a">Home</Parent>
    <Path>/Home/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-08-09T14:30:42</CreateDate>
    <NodeName Default="Contact Us" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6edd78f9-d248-4c5f-8e44-0cfab57a5e37">ContentPage</Template>
  </Info>
  <Properties>
    <headerContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7c269811-545d-489e-b966-9e6cc85e18ea",
      "key": "a1b21afd-7550-4b7b-98cd-0ef327702e55",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Contact Us"
        },
        {
          "alias": "subTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a1b21afd-7550-4b7b-98cd-0ef327702e55",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "a1b21afd-7550-4b7b-98cd-0ef327702e55",
        "contentUdi": "umb://element/a1b21afd75504b7b98cd0ef327702e55",
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dba2f505-7d07-4703-82d1-e26c53ea7d62",
      "key": "98608e47-f45a-4f1d-b3ac-032cf9fddbc1",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "98608e47-f45a-4f1d-b3ac-032cf9fddbc1",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "98608e47-f45a-4f1d-b3ac-032cf9fddbc1",
        "contentUdi": "umb://element/98608e47f45a4f1db3ac032cf9fddbc1",
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[Contact us by phone, email, a contact form, or simply come in for a chat.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>