<?xml version="1.0" encoding="utf-8"?>
<Content Key="9047a04f-c27e-48f1-9643-7ebeaa86b9a0" Alias="Reusable Content" Level="3">
  <Info>
    <Parent Key="f4fe57ef-6319-4871-bad0-5d5d8259a94a">Site Settings</Parent>
    <Path>/Home/SiteSettings/ReusableContent</Path>
    <Trashed>false</Trashed>
    <ContentType>reusableContentRepository</ContentType>
    <CreateDate>2025-09-05T20:32:34</CreateDate>
    <NodeName Default="Reusable Content" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>