<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4fe57ef-6319-4871-bad0-5d5d8259a94a" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="69eeec76-d50a-4baf-b98e-15b1baaebd4a">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-06-15T13:53:20</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "eb7bb9d2-3ca8-46f9-b90c-776d184528d5",
      "key": "196b4c0a-0008-4a95-9eb1-d26ef13e667a",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "7402a40b-5960-4501-af51-95a914bdc51b",
      "key": "a3e92d4f-dd2c-4b8e-a6e3-6a25496b4946",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center;\u0022 class=\u0022lead\u0022\u003E\u003Ca href=\u0022tel:\u002B447973786683\u0022\u003E \u003Cspan class=\u0022sr-only\u0022\u003ECall Us: \u003C/span\u003E07973 786683 \u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "7402a40b-5960-4501-af51-95a914bdc51b",
      "key": "a32d44ab-acf1-4590-876d-69b7e12e3d9c",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Visit"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center;\u0022\u003E\u003Ca rel=\u0022noopener noreferrer\u0022 href=\u0022https://g.co/kgs/Vc7viRC\u0022 target=\u0022_blank\u0022\u003E \u003Cspan aria-hidden=\u0022true\u0022\u003E\uD83D\uDCCD \u003C/span\u003EOL14 7BU\u003Cspan class=\u0022sr-only\u0022\u003E - View our shop location on Google Maps at 17 Burnley Road, Todmorden, OL14 7BU. Opens in a new tab.\u003C/span\u003E \u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "a21ed3a1-188e-45fb-acc8-23f19d1b4a72",
      "key": "d32a4040-8f7f-4a6f-a970-ef5cde872513",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Instagram"
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "77ef4f60-6eea-4a26-aa6d-6697582d62b1",
                "key": "7031011d-2f5a-460f-b8da-431e4b7f18ee",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Instagram",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://www.instagram.com/nickwilliamson_nck/?hl=en",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c3ff5758-2479-4f9a-a459-7e5d6ec15522",
                        "mediaKey": "d359615f-d78c-40e7-9ddb-1210930781f1",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "iconColour",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "value": "0dcaf0",
                      "label": "Info",
                      "sortOrder": 7,
                      "id": "8"
                    }
                  },
                  {
                    "alias": "iconColourInverted",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "value": "2c3e50",
                      "label": "Secondary",
                      "sortOrder": 3,
                      "id": "4"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "7031011d-2f5a-460f-b8da-431e4b7f18ee",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "7031011d-2f5a-460f-b8da-431e4b7f18ee",
                  "contentUdi": "umb://element/7031011d2f5a460fb8da431e4b7f18ee",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "196b4c0a-0008-4a95-9eb1-d26ef13e667a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a3e92d4f-dd2c-4b8e-a6e3-6a25496b4946",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a32d44ab-acf1-4590-876d-69b7e12e3d9c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d32a4040-8f7f-4a6f-a970-ef5cde872513",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "a3e92d4f-dd2c-4b8e-a6e3-6a25496b4946",
                "contentUdi": "umb://element/a3e92d4fdd2c4b8ea6e36a25496b4946",
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "71392a5e-20cf-4385-9e54-f40bc61a3628"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "d32a4040-8f7f-4a6f-a970-ef5cde872513",
                "contentUdi": "umb://element/d32a40408f7f4a6fa970ef5cde872513",
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "1a0c5df6-4cd4-413c-a1f1-a546949493b0"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "a32d44ab-acf1-4590-876d-69b7e12e3d9c",
                "contentUdi": "umb://element/a32d44abacf14590876d69b7e12e3d9c",
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "93e5c80c-d3fb-4cea-980b-9d44f7570f59"
          }
        ],
        "columnSpan": 12,
        "contentKey": "196b4c0a-0008-4a95-9eb1-d26ef13e667a",
        "contentUdi": "umb://element/196b4c0a00084a959eb1d26ef13e667a",
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </footerContent>
    <mainNavigation>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "affb9989-e435-4cd4-9246-13eff065662b",
      "key": "ec1fd0bd-7de2-426d-82c7-cef9b9d1b4c8",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1c5a2055-418c-478b-8e1b-38aede56484b",
      "key": "31292c6c-758f-481e-9658-5ace3537fd21",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": null,
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/4f0e5ed33aed449c908113ce60e77492",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "childLinks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "1c5a2055-418c-478b-8e1b-38aede56484b",
      "key": "ac08f050-403d-4b40-ba30-1df2d23f8e0a",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "What\u0027s On"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": null,
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/0d126a23b11140b09e9b675d12bed69d",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "childLinks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "1c5a2055-418c-478b-8e1b-38aede56484b",
      "key": "94c82aab-fe14-4246-8970-5ac5ae088702",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Contact Us"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": null,
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/90c6070dbcf64f199c96398407217525",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "childLinks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ec1fd0bd-7de2-426d-82c7-cef9b9d1b4c8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "31292c6c-758f-481e-9658-5ace3537fd21",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ac08f050-403d-4b40-ba30-1df2d23f8e0a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "94c82aab-fe14-4246-8970-5ac5ae088702",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 2,
                "contentKey": "31292c6c-758f-481e-9658-5ace3537fd21",
                "contentUdi": "umb://element/31292c6c758f481e96585ace3537fd21",
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 2,
                "contentKey": "94c82aab-fe14-4246-8970-5ac5ae088702",
                "contentUdi": "umb://element/94c82aabfe14424689705ac5ae088702",
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 2,
                "contentKey": "ac08f050-403d-4b40-ba30-1df2d23f8e0a",
                "contentUdi": "umb://element/ac08f050403d4b40ba301df2d23f8e0a",
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "4c066a2c-fc96-4a75-888c-449dc1e429cf"
          }
        ],
        "columnSpan": 12,
        "contentKey": "ec1fd0bd-7de2-426d-82c7-cef9b9d1b4c8",
        "contentUdi": "umb://element/ec1fd0bd7de2426d82c7cef9b9d1b4c8",
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainNavigation>
    <siteName>
      <Value><![CDATA[The Exchange]]></Value>
    </siteName>
  </Properties>
</Content>