<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d0c0de0-c969-45fd-9de2-1f42cbd46bd9" Alias="Bake Off Squirrel" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BakeOffSquirrel</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-22T13:20:16</CreateDate>
    <NodeName Default="Bake Off Squirrel" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2ygbzhlj/bake-off-squirrel.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>