<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e17f55b-96c2-41ec-ba4e-199c520c2e1d" Alias="Bake Off Squirrel" Level="2">
  <Info>
    <Parent Key="8f549038-50a4-47ca-979f-0ac0702ad0bd">Pictures</Parent>
    <Path>/Pictures/BakeOffSquirrel</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-18T21:26:14</CreateDate>
    <NodeName Default="Bake Off Squirrel" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lx0bolwc/bake-off-squirrel.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>