<?xml version="1.0" encoding="utf-8"?>
<Media Key="f374d2b5-1964-442e-80a1-8a385372e846" Alias="Bluesky Brands" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlueskyBrands</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-06-22T22:01:03</CreateDate>
    <NodeName Default="Bluesky Brands" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/qtjhj21e/bluesky-brands.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>