<?xml version="1.0" encoding="utf-8"?>
<Media Key="68bdedb4-134f-43fd-8f7e-319da965f05c" Alias="Dj Nck Home Page S2 Background" Level="2">
  <Info>
    <Parent Key="8f549038-50a4-47ca-979f-0ac0702ad0bd">Pictures</Parent>
    <Path>/Pictures/DjNckHomePageS2Background</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-21T23:41:17</CreateDate>
    <NodeName Default="Dj Nck Home Page S2 Background" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wlwl00cp/dj-nck-home-page-s2-background.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>