<?xml version="1.0" encoding="utf-8"?>
<Media Key="d359615f-d78c-40e7-9ddb-1210930781f1" Alias="Instagram Logo 2022" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/InstagramLogo2022</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-07-21T22:10:02</CreateDate>
    <NodeName Default="Instagram Logo 2022" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/nzqftu2m/instagram_logo_2022.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>