<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a8c1d54-7d67-4e20-9955-bc9206909037" Alias="Message Solid" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MessageSolid</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-08-09T14:28:46</CreateDate>
    <NodeName Default="Message Solid" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/muojygth/message-solid.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>