<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ee701ee-c558-46bc-9eb7-b0b98735cefc" Alias="Record 800" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Record800</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-29T16:08:39</CreateDate>
    <NodeName Default="Record 800" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3aapotsy/record-800.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>