<?xml version="1.0" encoding="utf-8"?>
<Media Key="08803d5a-f239-423e-8277-2a13b37f402b" Alias="Unnamed" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Unnamed</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-21T22:55:20</CreateDate>
    <NodeName Default="Unnamed" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lq4jacbz/unnamed.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>