<?xml version="1.0" encoding="utf-8"?>
<MemberType Key="11fa8041-d225-4659-b2ae-01c6fc39d929" Alias="websiteAdministratorMember" Level="1">
  <Info>
    <Name>Website Administrator Member</Name>
    <Icon>icon-lock color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties />
  <Structure />
  <Tabs />
</MemberType>