<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eea1e256-487d-4b1d-bbec-dbd01536d236" Alias="[BlockList] - Social Links" Level="2">
  <Info>
    <Name>[BlockList] - Social Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "77ef4f60-6eea-4a26-aa6d-6697582d62b1",
      "label": "{{ link[0].name }}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>