<?xml version="1.0" encoding="utf-8"?>
<DataType Key="74810a45-a6af-4e1a-8f1e-7e53bfd0b8e9" Alias="[BlockGrid] - Main Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Main Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "columnSpanOptions": [
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "599f2759-c823-4243-9559-6acf716162da",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "d4c3fd53-1f78-4ccb-9bc6-9ddd6019db67",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [
        {
          "key": "3517523f-490c-4000-8882-e5cd3f41fd6a",
          "alias": "title",
          "createLabel": "Create Title",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "3fc06b41-21b9-4f47-87fe-b270954c3daf"
            }
          ]
        },
        {
          "key": "f4999f48-98c7-4bed-bbe3-ed347fbfd5a3",
          "alias": "image-links",
          "createLabel": "Add Image Link",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "d4c3fd53-1f78-4ccb-9bc6-9ddd6019db67"
            }
          ]
        }
      ],
      "contentElementTypeKey": "351656f0-efeb-4641-91a8-090b94ae55eb",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "3fc06b41-21b9-4f47-87fe-b270954c3daf",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "38fb8ea0-c4ce-4f28-886a-aa724d0d9529",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": false,
      "areas": [],
      "contentElementTypeKey": "fafd9fe8-4929-4617-9f61-19131e5842bc",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [
        {
          "key": "56648fbc-bfaf-4a08-be86-2fe2811a7797",
          "alias": "title",
          "createLabel": "Add a title",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "3fc06b41-21b9-4f47-87fe-b270954c3daf",
              "maxAllowed": 1
            }
          ]
        },
        {
          "key": "a4e0a9de-8946-4fc5-8afe-37cbbcfe4299",
          "alias": "content",
          "createLabel": "Add some content",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "599f2759-c823-4243-9559-6acf716162da"
            }
          ]
        },
        {
          "key": "926f1779-e11c-4d6a-b9f5-ec32f403f817",
          "alias": "link",
          "createLabel": "Add a link",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "38fb8ea0-c4ce-4f28-886a-aa724d0d9529",
              "maxAllowed": 1
            }
          ]
        }
      ],
      "contentElementTypeKey": "500f5bab-3fd3-45c5-9542-83d0d2d17ae6",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": false,
      "areas": [],
      "contentElementTypeKey": "dba2f505-7d07-4703-82d1-e26c53ea7d62",
      "label": "contact",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": false,
      "areas": [],
      "contentElementTypeKey": "f3a1508e-6692-4ce4-82df-c06c02615245",
      "label": "{{$layout.$block.content.contentTypeName}}: {{contentItem | ncNodeName}}",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useLiveEditing": false,
  "validationLimit": {}
}]]></Config>
</DataType>