<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1671f9b-bbc2-4ebb-99c1-053d93a82b02" Alias="[BlockGrid] - Main Navigation" Level="2">
  <Info>
    <Name>[BlockGrid] - Main Navigation</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "columnSpanOptions": [
        {
          "columnSpan": 2
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "1c5a2055-418c-478b-8e1b-38aede56484b",
      "view": "~/App_Plugins/BlockGridPreviews/navigationgroup.html",
      "label": "{{ title }}",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": false,
      "areas": [
        {
          "key": "4c066a2c-fc96-4a75-888c-449dc1e429cf",
          "alias": "full-width",
          "createLabel": "Add Navigation Group",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "1c5a2055-418c-478b-8e1b-38aede56484b"
            }
          ]
        }
      ],
      "contentElementTypeKey": "affb9989-e435-4cd4-9246-13eff065662b",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useLiveEditing": false,
  "validationLimit": {}
}]]></Config>
</DataType>