<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe6cfa5e-82e4-48c8-9061-28f3c31946c0" Alias="[BlockGrid] - Footer Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Footer Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "4af6998b-1901-4fe9-aa6c-17fce52843b7",
      "name": "Layout"
    },
    {
      "key": "c5b4b200-1df3-4fe8-ac7c-716f0095dc2b",
      "name": "Modules"
    }
  ],
  "blocks": [
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": false,
      "areas": [
        {
          "key": "71392a5e-20cf-4385-9e54-f40bc61a3628",
          "alias": "left",
          "createLabel": "Add footer content",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "7402a40b-5960-4501-af51-95a914bdc51b",
              "maxAllowed": 1
            },
            {
              "elementTypeKey": "a21ed3a1-188e-45fb-acc8-23f19d1b4a72",
              "maxAllowed": 1
            }
          ]
        },
        {
          "key": "1a0c5df6-4cd4-413c-a1f1-a546949493b0",
          "alias": "middle",
          "createLabel": "Add footer content",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "7402a40b-5960-4501-af51-95a914bdc51b",
              "maxAllowed": 1
            },
            {
              "elementTypeKey": "a21ed3a1-188e-45fb-acc8-23f19d1b4a72",
              "maxAllowed": 1
            }
          ]
        },
        {
          "key": "93e5c80c-d3fb-4cea-980b-9d44f7570f59",
          "alias": "right",
          "createLabel": "Add footer content",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "7402a40b-5960-4501-af51-95a914bdc51b",
              "maxAllowed": 1
            },
            {
              "elementTypeKey": "a21ed3a1-188e-45fb-acc8-23f19d1b4a72",
              "maxAllowed": 1
            }
          ]
        }
      ],
      "contentElementTypeKey": "eb7bb9d2-3ca8-46f9-b90c-776d184528d5",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "4af6998b-1901-4fe9-aa6c-17fce52843b7"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "7402a40b-5960-4501-af51-95a914bdc51b",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "c5b4b200-1df3-4fe8-ac7c-716f0095dc2b"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "a21ed3a1-188e-45fb-acc8-23f19d1b4a72",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "c5b4b200-1df3-4fe8-ac7c-716f0095dc2b"
    }
  ],
  "useLiveEditing": false,
  "validationLimit": {}
}]]></Config>
</DataType>