<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32a0ec24-adf0-4035-adcc-4df037880f21" Alias="[ColorPicker] - White or Secondary" Level="2">
  <Info>
    <Name>[ColorPicker] - White or Secondary</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "ffffff",
      "label": "White"
    },
    {
      "value": "2c3e50",
      "label": "Secondary"
    }
  ],
  "umbMigrationV14": "2026-02-08T22:42:37.939147\u002B00:00",
  "useLabel": true
}]]></Config>
</DataType>