<?xml version="1.0" encoding="utf-8"?>
<DataType Key="369626d0-a8ab-4d04-85cc-02bea7956e29" Alias="[ColourPicker] - Brand Colours" Level="2">
  <Info>
    <Name>[ColourPicker] - Brand Colours</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "212529",
      "label": "Dark"
    },
    {
      "value": "ffffff",
      "label": "White"
    },
    {
      "value": "b55b1f",
      "label": "Primary"
    },
    {
      "value": "2c3e50",
      "label": "Secondary"
    },
    {
      "value": "198754",
      "label": "Success"
    },
    {
      "value": "dc3545",
      "label": "Danger"
    },
    {
      "value": "ffc107",
      "label": "Warning"
    },
    {
      "value": "0dcaf0",
      "label": "Info"
    },
    {
      "value": "f8f9fa",
      "label": "Light"
    }
  ],
  "umbMigrationV14": "2026-02-08T22:42:37.938977\u002B00:00",
  "useLabel": true
}]]></Config>
</DataType>