<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56537d87-f136-4398-ab43-6c843154405e" Alias="[MediaPicker] Icon Picker (SVG)" Level="2">
  <Info>
    <Name>[MediaPicker] Icon Picker (SVG)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": false,
  "filter": "c4b1efcf-a9d5-41c4-9621-e9d273b52a9c",
  "ignoreUserStartNodes": false,
  "multiple": false,
  "umbMigrationV14": "2026-02-08T22:42:37.938387\u002B00:00",
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>