<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7e5956d-f430-4bcf-9894-c03bebe38cb9" Alias="[MNTP] - Page Tag Picker" Level="2">
  <Info>
    <Name>[MNTP] - Page Tag Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "57f6454f-2bfe-4427-bcce-936fcf9d46ff",
  "ignoreUserStartNodes": false,
  "maxNumber": 0,
  "minNumber": 0,
  "showOpenButton": false,
  "startNode": {
    "type": "content",
    "id": null,
    "dynamicRoot": {
      "originAlias": "Current",
      "querySteps": [
        {
          "alias": "NearestAncestorOrSelf",
          "anyOfDocTypeKeys": [
            "72688e4e-91be-4ccf-9159-73d65f78ebc1"
          ]
        },
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "00caebaf-b002-41a9-a237-19fbaf380116"
          ]
        }
      ]
    }
  },
  "umbMigrationV14": "2026-02-08T22:42:37.936923\u002B00:00"
}]]></Config>
</DataType>