<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0c0af12f-9276-437d-a07d-19daaa309e69" Alias="[MultiUrlPicker] - Single Url Picker" Level="2">
  <Info>
    <Name>[MultiUrlPicker] - Single Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "hideAnchor": false,
  "ignoreUserStartNodes": false,
  "maxNumber": 1,
  "minNumber": 0,
  "overlaySize": "small"
}]]></Config>
</DataType>