<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7eed19a-219c-4159-8a67-8c734ac10a8a" Alias="Block List" Level="4">
  <Info>
    <Parent Key="99485a8e-eeb6-439b-9fb5-13559d86bd13">Page Tags</Parent>
    <Path>/Home/SiteSettings/PageTags/BlockList</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTag</ContentType>
    <CreateDate>2025-06-15T14:10:40</CreateDate>
    <NodeName Default="Block List" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagAlias>
      <Value><![CDATA[]]></Value>
    </tagAlias>
  </Properties>
</Content>