<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="859bb5b8-f611-4895-834b-5b21fefe8ffd" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the main page type for the website. You will build your content using the block grid.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>pages</Folder>
    <Compositions>
      <Composition Key="0649a60a-d6c7-444b-bf8a-146dcd38f710">contentProperties</Composition>
      <Composition Key="ef37744f-8fd4-4095-ae0f-592e06d095c7">headerProperties</Composition>
      <Composition Key="334a782b-c931-4b76-ab52-5d36bc1b9e67">sEOProperties</Composition>
      <Composition Key="42c763f6-a64d-4bd1-a878-1aa9657527fa">taggingProperties</Composition>
      <Composition Key="7a4a748c-0199-45d3-9edb-63968e64070e">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6edd78f9-d248-4c5f-8e44-0cfab57a5e37">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>