<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="72688e4e-91be-4ccf-9159-73d65f78ebc1" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the main home page for the website</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="0649a60a-d6c7-444b-bf8a-146dcd38f710">contentProperties</Composition>
      <Composition Key="ef37744f-8fd4-4095-ae0f-592e06d095c7">headerProperties</Composition>
      <Composition Key="334a782b-c931-4b76-ab52-5d36bc1b9e67">sEOProperties</Composition>
      <Composition Key="42c763f6-a64d-4bd1-a878-1aa9657527fa">taggingProperties</Composition>
      <Composition Key="7a4a748c-0199-45d3-9edb-63968e64070e">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="dcf60fc0-ca96-4dfa-aff9-e4a0c0b52513">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="859bb5b8-f611-4895-834b-5b21fefe8ffd" SortOrder="0">contentPage</ContentType>
    <ContentType Key="949df879-f0b9-4c97-b7dd-daf6b1597b7e" SortOrder="1">searchPage</ContentType>
    <ContentType Key="0cd475ad-47cf-401c-bc40-9bba386c9687" SortOrder="2">siteSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>