<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f0e5ed3-3aed-449c-9081-13ce60e77492" Alias="About" Level="2">
  <Info>
    <Parent Key="69eeec76-d50a-4baf-b98e-15b1baaebd4a">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-06-15T13:41:31</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6edd78f9-d248-4c5f-8e44-0cfab57a5e37">ContentPage</Template>
  </Info>
  <Properties>
    <headerContent>
      <Value><![CDATA[]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>