<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4fe57ef-6319-4871-bad0-5d5d8259a94a" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="69eeec76-d50a-4baf-b98e-15b1baaebd4a">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-06-15T13:53:20</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerContent>
      <Value><![CDATA[]]></Value>
    </footerContent>
    <mainNavigation>
      <Value><![CDATA[]]></Value>
    </mainNavigation>
    <siteName>
      <Value><![CDATA[The Exchange]]></Value>
    </siteName>
  </Properties>
</Content>