<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4fe57ef-6319-4871-bad0-5d5d8259a94a" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="69eeec76-d50a-4baf-b98e-15b1baaebd4a">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-06-15T13:53:20</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerContent>
      <Value><![CDATA[]]></Value>
    </footerContent>
    <mainNavigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/ec1fd0bd7de2426d82c7cef9b9d1b4c8",
        "areas": [
          {
            "key": "4c066a2c-fc96-4a75-888c-449dc1e429cf",
            "items": [
              {
                "contentUdi": "umb://element/31292c6c758f481e96585ace3537fd21",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/ac08f050403d4b40ba301df2d23f8e0a",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "affb9989-e435-4cd4-9246-13eff065662b",
      "udi": "umb://element/ec1fd0bd7de2426d82c7cef9b9d1b4c8"
    },
    {
      "childLinks": "",
      "contentTypeKey": "1c5a2055-418c-478b-8e1b-38aede56484b",
      "link": [
        {
          "udi": "umb://document/4f0e5ed33aed449c908113ce60e77492"
        }
      ],
      "title": "About",
      "udi": "umb://element/31292c6c758f481e96585ace3537fd21"
    },
    {
      "childLinks": "",
      "contentTypeKey": "1c5a2055-418c-478b-8e1b-38aede56484b",
      "link": [
        {
          "udi": "umb://document/5fd9a05c210545c183763487618bc809"
        }
      ],
      "title": "Search",
      "udi": "umb://element/ac08f050403d4b40ba301df2d23f8e0a"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainNavigation>
    <siteName>
      <Value><![CDATA[The Exchange]]></Value>
    </siteName>
  </Properties>
</Content>