@using Umbraco.Extensions
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Web.Common.Views
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.Models.PublishedContent
@using Microsoft.AspNetCore.Html
@using NckExchange.Extensions

@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.StandardHeader>>

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        @if (Model.Content.Image != null)
        {
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src="@Model.Content.Image.GetCropUrl(240)&format=webp"
                alt="@Model.Content.Image.GetAltText()" />
        }

        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">@Model.Content.Title</h1>

        @if (!string.IsNullOrEmpty(Model.Content.SubTitle))
        {
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><svg style="display: inline-block;
				height: 1em;
				overflow: visible;
				vertical-align: -.125em;
				box-sizing: content-box;"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentColor"><path d="M309.5-18.9c-4.1-8-12.4-13.1-21.4-13.1s-17.3 5.1-21.4 13.1L193.1 125.3 33.2 150.7c-8.9 1.4-16.3 7.7-19.1 16.3s-.5 18 5.8 24.4l114.4 114.5-25.2 159.9c-1.4 8.9 2.3 17.9 9.6 23.2s16.9 6.1 25 2L288.1 417.6 432.4 491c8 4.1 17.7 3.3 25-2s11-14.2 9.6-23.2L441.7 305.9 556.1 191.4c6.4-6.4 8.6-15.8 5.8-24.4s-10.1-14.9-19.1-16.3L383 125.3 309.5-18.9z"/></svg></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">@Model.Content.SubTitle</p>
        }
    </div>
</header>