<?xml version="1.0" encoding="utf-8"?>
<DataType Key="02ea9fe9-f02d-4d3b-b6ec-a6e247cbe1f2" Alias="[MNTP] - Reusable Content" Level="2">
  <Info>
    <Name>[MNTP] - Reusable Content</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "reusableContentItem",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Current",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestAncestorOrSelf",
          "anyOfDocTypeKeys": [
            "72688e4e-91be-4ccf-9159-73d65f78ebc1"
          ]
        },
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "b9dffd12-0916-45f9-af0b-e8771b85c92e"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>