<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ba272efd-2878-47d6-9232-6e28592e6d7b" Alias="[MultiUrlPicker] - Navigation Group Child Links" Level="2">
  <Info>
    <Name>[MultiUrlPicker] - Navigation Group Child Links</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>