<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f0e5ed3-3aed-449c-9081-13ce60e77492" Alias="About" Level="2">
  <Info>
    <Parent Key="69eeec76-d50a-4baf-b98e-15b1baaebd4a">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-06-15T13:41:31</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6edd78f9-d248-4c5f-8e44-0cfab57a5e37">ContentPage</Template>
  </Info>
  <Properties>
    <headerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/47c9658df2544a0bbedec195a861f223",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7c269811-545d-489e-b966-9e6cc85e18ea",
      "image": [],
      "subTitle": "",
      "title": "",
      "udi": "umb://element/47c9658df2544a0bbedec195a861f223"
    }
  ],
  "settingsData": []
}]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/3cfd1b45fd694a52a47c3bba3473d1f0",
        "areas": [
          {
            "key": "3517523f-490c-4000-8882-e5cd3f41fd6a",
            "items": [
              {
                "contentUdi": "umb://element/3650e2c145134a8d953dcdbbc9f7e51e",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "f4999f48-98c7-4bed-bbe3-ed347fbfd5a3",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "351656f0-efeb-4641-91a8-090b94ae55eb",
      "udi": "umb://element/3cfd1b45fd694a52a47c3bba3473d1f0"
    },
    {
      "colour": "",
      "contentTypeKey": "3fc06b41-21b9-4f47-87fe-b270954c3daf",
      "text": "This is the title",
      "udi": "umb://element/3650e2c145134a8d953dcdbbc9f7e51e"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>