<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ca11e44-75e3-44d0-bc0c-8d7f90b47880" Alias="Block Grid" Level="4">
  <Info>
    <Parent Key="99485a8e-eeb6-439b-9fb5-13559d86bd13">Page Tags</Parent>
    <Path>/Home/SiteSettings/PageTags/BlockGrid</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTag</ContentType>
    <CreateDate>2025-06-15T14:10:33</CreateDate>
    <NodeName Default="Block Grid" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagAlias>
      <Value><![CDATA[]]></Value>
    </tagAlias>
  </Properties>
</Content>