<?xml version="1.0" encoding="utf-8"?>
<Content Key="cae46c7a-6c5c-4c43-9b92-91ba94831650" Alias="Contact Us Call To Action" Level="4">
  <Info>
    <Parent Key="9047a04f-c27e-48f1-9643-7ebeaa86b9a0">Reusable Content</Parent>
    <Path>/Home/SiteSettings/ReusableContent/ContactUsCallToAction</Path>
    <Trashed>false</Trashed>
    <ContentType>reusableContentItem</ContentType>
    <CreateDate>2025-09-06T09:27:52</CreateDate>
    <NodeName Default="Contact Us Call To Action" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "56648fbc-bfaf-4a08-be86-2fe2811a7797",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/4656b536825a483ea0ae4e0796627356"
              }
            ]
          },
          {
            "key": "a4e0a9de-8946-4fc5-8afe-37cbbcfe4299",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/1b630fd85e6e4e19b99fcce956bf9665"
              }
            ]
          },
          {
            "key": "926f1779-e11c-4d6a-b9f5-ec32f403f817",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/e8b93d8968fc40d2af581a8d12786028"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/dc825f0699794c87a6d63f4c96c2f508"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "500f5bab-3fd3-45c5-9542-83d0d2d17ae6",
      "udi": "umb://element/dc825f0699794c87a6d63f4c96c2f508"
    },
    {
      "colour": {
        "value": "ffffff",
        "label": "White",
        "sortOrder": 0,
        "id": "1"
      },
      "contentTypeKey": "3fc06b41-21b9-4f47-87fe-b270954c3daf",
      "text": "Send us a message",
      "udi": "umb://element/4656b536825a483ea0ae4e0796627356"
    },
    {
      "contentTypeKey": "599f2759-c823-4243-9559-6acf716162da",
      "text": {
        "markup": "<p style=\"text-align: center;\">Feel free to message us while you wait for exciting things to happen.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/1b630fd85e6e4e19b99fcce956bf9665"
    },
    {
      "contentTypeKey": "38fb8ea0-c4ce-4f28-886a-aa724d0d9529",
      "icon": [
        {
          "key": "a6646ea6-cddc-4782-8c61-8bff776cff4d",
          "mediaKey": "1a8c1d54-7d67-4e20-9955-bc9206909037"
        }
      ],
      "link": [
        {
          "name": "",
          "udi": "umb://document/90c6070dbcf64f199c96398407217525"
        }
      ],
      "udi": "umb://element/e8b93d8968fc40d2af581a8d12786028"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
  </Properties>
</Content>