<?xml version="1.0" encoding="utf-8"?>
<Content Key="69eeec76-d50a-4baf-b98e-15b1baaebd4a" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-06-10T13:47:02</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dcf60fc0-ca96-4dfa-aff9-e4a0c0b52513">HomePage</Template>
  </Info>
  <Properties>
    <headerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c897f56a5e674515aa857be75428df5b",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7c269811-545d-489e-b966-9e6cc85e18ea",
      "image": [
        {
          "key": "feeaac6b-6783-4fb4-90c6-744a59ae3193",
          "mediaKey": "a3f16f08-0d5d-4591-aea2-3bb2d607541b"
        }
      ],
      "subTitle": "Books, Records, Jigsaws, Art & Collectables, Bought, Sold & Exchanged",
      "title": "The Exchange",
      "udi": "umb://element/c897f56a5e674515aa857be75428df5b"
    }
  ],
  "settingsData": []
}]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/2691bac771f34ab18a1af2497bf615ae",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/650c5a1b820f4c8aba03e73860b29747",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentItem": "umb://document/c8ea7110f5554536bdc218c77fdb0a48",
      "contentTypeKey": "f3a1508e-6692-4ce4-82df-c06c02615245",
      "udi": "umb://element/2691bac771f34ab18a1af2497bf615ae"
    },
    {
      "contentItem": "umb://document/cae46c7a6c5c4c439b9291ba94831650",
      "contentTypeKey": "f3a1508e-6692-4ce4-82df-c06c02615245",
      "udi": "umb://element/650c5a1b820f4c8aba03e73860b29747"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[The Exchange, a shop in Todmorden, West Yorkshire, UK. 
Buy, sell, and exchange books, records, jigsaws, art, and collectibles.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>