<?xml version="1.0" encoding="utf-8"?>
<Content Key="69eeec76-d50a-4baf-b98e-15b1baaebd4a" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-06-10T13:47:02</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dcf60fc0-ca96-4dfa-aff9-e4a0c0b52513">HomePage</Template>
  </Info>
  <Properties>
    <headerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c897f56a5e674515aa857be75428df5b",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7c269811-545d-489e-b966-9e6cc85e18ea",
      "image": [
        {
          "key": "feeaac6b-6783-4fb4-90c6-744a59ae3193",
          "mediaKey": "a3f16f08-0d5d-4591-aea2-3bb2d607541b"
        }
      ],
      "subTitle": "Books, Records, Jigsaws, Art & Collectable, Bought Sold & Exchanged",
      "title": "The Exchange",
      "udi": "umb://element/c897f56a5e674515aa857be75428df5b"
    }
  ],
  "settingsData": []
}]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/148d11f811ec49509ef5a6620d2a7fec",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "599f2759-c823-4243-9559-6acf716162da",
      "text": {
        "markup": "<p style=\"text-align: center;\">Telephone: 07973 786683</p>\n<p style=\"text-align: center;\">17 Burnley Road, Todmorden, OL14 7BU</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/148d11f811ec49509ef5a6620d2a7fec"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>