<?xml version="1.0" encoding="utf-8"?>
<Content Key="c40b54f2-df0c-483c-9e5e-0e9e45348471" Alias="Opening Event" Level="3">
  <Info>
    <Parent Key="0d126a23-b111-40b0-9e9b-675d12bed69d">What's On</Parent>
    <Path>/Home/WhatsOn/OpeningEvent</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2025-08-15T17:48:55</CreateDate>
    <NodeName Default="Opening Event" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1ea635d8-5cb0-4c9c-8841-f209ab026eaa">EventPage</Template>
  </Info>
  <Properties>
    <bookingLink>
      <Value><![CDATA[]]></Value>
    </bookingLink>
    <comingSoon>
      <Value><![CDATA[1]]></Value>
    </comingSoon>
    <eventDateTime>
      <Value><![CDATA[2025-10-03T12:00:00]]></Value>
    </eventDateTime>
    <eventImage>
      <Value><![CDATA[[
  {
    "key": "4fab6d66-d196-4aa3-8aad-9ba6892b26e9",
    "mediaKey": "a3f16f08-0d5d-4591-aea2-3bb2d607541b"
  }
]]]></Value>
    </eventImage>
    <eventTitle>
      <Value><![CDATA[The Exchange Grand Opening]]></Value>
    </eventTitle>
    <headerContent>
      <Value><![CDATA[]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <location>
      <Value><![CDATA[At the shop]]></Value>
    </location>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <shortDescription>
      <Value><![CDATA[Watch this space.]]></Value>
    </shortDescription>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>