<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4fe57ef-6319-4871-bad0-5d5d8259a94a" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="69eeec76-d50a-4baf-b98e-15b1baaebd4a">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-06-15T13:53:20</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/196b4c0a00084a959eb1d26ef13e667a",
        "areas": [
          {
            "key": "71392a5e-20cf-4385-9e54-f40bc61a3628",
            "items": [
              {
                "contentUdi": "umb://element/a3e92d4fdd2c4b8ea6e36a25496b4946",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "1a0c5df6-4cd4-413c-a1f1-a546949493b0",
            "items": [
              {
                "contentUdi": "umb://element/d32a40408f7f4a6fa970ef5cde872513",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "93e5c80c-d3fb-4cea-980b-9d44f7570f59",
            "items": [
              {
                "contentUdi": "umb://element/a32d44abacf14590876d69b7e12e3d9c",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "eb7bb9d2-3ca8-46f9-b90c-776d184528d5",
      "udi": "umb://element/196b4c0a00084a959eb1d26ef13e667a"
    },
    {
      "contentTypeKey": "7402a40b-5960-4501-af51-95a914bdc51b",
      "text": {
        "markup": "<p style=\"text-align: center;\" class=\"lead\"><a href=\"tel:+447973786683\"> <span class=\"sr-only\">Call Us: </span>07973 786683 </a></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "Phone",
      "udi": "umb://element/a3e92d4fdd2c4b8ea6e36a25496b4946"
    },
    {
      "contentTypeKey": "7402a40b-5960-4501-af51-95a914bdc51b",
      "text": {
        "markup": "<p style=\"text-align: center;\"><a rel=\"noopener noreferrer\" href=\"https://g.co/kgs/Vc7viRC\" target=\"_blank\"> <span aria-hidden=\"true\">📍 </span>OL14 7BU<span class=\"sr-only\"> - View our shop location on Google Maps at 17 Burnley Road, Todmorden, OL14 7BU. Opens in a new tab.</span> </a></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "Visit",
      "udi": "umb://element/a32d44abacf14590876d69b7e12e3d9c"
    },
    {
      "contentTypeKey": "a21ed3a1-188e-45fb-acc8-23f19d1b4a72",
      "links": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7031011d2f5a460fb8da431e4b7f18ee"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "77ef4f60-6eea-4a26-aa6d-6697582d62b1",
            "icon": [
              {
                "key": "c3ff5758-2479-4f9a-a459-7e5d6ec15522",
                "mediaKey": "d359615f-d78c-40e7-9ddb-1210930781f1"
              }
            ],
            "iconColour": {
              "value": "0dcaf0",
              "label": "Info",
              "sortOrder": 7,
              "id": "8"
            },
            "iconColourInverted": {
              "value": "2c3e50",
              "label": "Secondary",
              "sortOrder": 3,
              "id": "4"
            },
            "link": [
              {
                "name": "Instagram",
                "target": "_blank",
                "url": "https://www.instagram.com/nickwilliamson_nck/?hl=en"
              }
            ],
            "udi": "umb://element/7031011d2f5a460fb8da431e4b7f18ee"
          }
        ],
        "settingsData": []
      },
      "title": "Instagram",
      "udi": "umb://element/d32a40408f7f4a6fa970ef5cde872513"
    }
  ],
  "settingsData": []
}]]></Value>
    </footerContent>
    <mainNavigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/ec1fd0bd7de2426d82c7cef9b9d1b4c8",
        "areas": [
          {
            "key": "4c066a2c-fc96-4a75-888c-449dc1e429cf",
            "items": [
              {
                "contentUdi": "umb://element/31292c6c758f481e96585ace3537fd21",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/94c82aabfe14424689705ac5ae088702",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/ac08f050403d4b40ba301df2d23f8e0a",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "affb9989-e435-4cd4-9246-13eff065662b",
      "udi": "umb://element/ec1fd0bd7de2426d82c7cef9b9d1b4c8"
    },
    {
      "childLinks": "",
      "contentTypeKey": "1c5a2055-418c-478b-8e1b-38aede56484b",
      "link": [
        {
          "udi": "umb://document/4f0e5ed33aed449c908113ce60e77492"
        }
      ],
      "title": "About",
      "udi": "umb://element/31292c6c758f481e96585ace3537fd21"
    },
    {
      "childLinks": "",
      "contentTypeKey": "1c5a2055-418c-478b-8e1b-38aede56484b",
      "link": [
        {
          "udi": "umb://document/5fd9a05c210545c183763487618bc809"
        }
      ],
      "title": "Search",
      "udi": "umb://element/ac08f050403d4b40ba301df2d23f8e0a"
    },
    {
      "childLinks": "",
      "contentTypeKey": "1c5a2055-418c-478b-8e1b-38aede56484b",
      "link": [
        {
          "udi": "umb://document/90c6070dbcf64f199c96398407217525"
        }
      ],
      "title": "Contact Us",
      "udi": "umb://element/94c82aabfe14424689705ac5ae088702"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainNavigation>
    <siteName>
      <Value><![CDATA[The Exchange]]></Value>
    </siteName>
  </Properties>
</Content>