<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1982860-23b6-4a14-8c2b-3aca89db38ff" Alias="Test Event" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/TestEvent</Path>
    <Trashed Parent="0d126a23-b111-40b0-9e9b-675d12bed69d">true</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2025-08-17T23:37:36</CreateDate>
    <NodeName Default="Test Event" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1ea635d8-5cb0-4c9c-8841-f209ab026eaa">EventPage</Template>
  </Info>
  <Properties>
    <bookingLink>
      <Value><![CDATA[[
  {
    "name": "Go find it yourself",
    "target": "_blank",
    "url": "https://www.google.co.uk"
  }
]]]></Value>
    </bookingLink>
    <comingSoon>
      <Value><![CDATA[]]></Value>
    </comingSoon>
    <eventDateTime>
      <Value><![CDATA[2025-08-22T12:00:00]]></Value>
    </eventDateTime>
    <eventImage>
      <Value><![CDATA[[
  {
    "key": "65c3ae9c-32a6-44f2-a846-4300f9606bdc",
    "mediaKey": "68bdedb4-134f-43fd-8f7e-319da965f05c"
  }
]]]></Value>
    </eventImage>
    <eventTitle>
      <Value><![CDATA[Test event]]></Value>
    </eventTitle>
    <headerContent>
      <Value><![CDATA[]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <location>
      <Value><![CDATA[On the moon]]></Value>
    </location>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <shortDescription>
      <Value><![CDATA[This is a short description of a test event]]></Value>
    </shortDescription>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>