<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d126a23-b111-40b0-9e9b-675d12bed69d" Alias="What's On" Level="2">
  <Info>
    <Parent Key="69eeec76-d50a-4baf-b98e-15b1baaebd4a">Home</Parent>
    <Path>/Home/WhatsOn</Path>
    <Trashed>false</Trashed>
    <ContentType>events</ContentType>
    <CreateDate>2025-08-15T17:46:54</CreateDate>
    <NodeName Default="What's On" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4a080770-6192-4de4-8b72-d398c83dd5c6">EventsPage</Template>
  </Info>
  <Properties>
    <headerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/6c896c6318dc4d8d9b3019702c44919e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7c269811-545d-489e-b966-9e6cc85e18ea",
      "image": [],
      "subTitle": "",
      "title": "What's On",
      "udi": "umb://element/6c896c6318dc4d8d9b3019702c44919e"
    }
  ],
  "settingsData": []
}]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>