<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b9dffd12-0916-45f9-af0b-e8771b85c92e" Alias="reusableContentRepository" Level="2">
  <Info>
    <Name>Reusable Content Repository</Name>
    <Icon>icon-files color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="25afcbdb-67fa-4d46-a3d0-afb28f2d4944" SortOrder="0">reusableContentItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>