<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0cd475ad-47cf-401c-bc40-9bba386c9687" Alias="siteSettings" Level="2">
  <Info>
    <Name>Site Settings</Name>
    <Icon>icon-settings color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions>
      <Composition Key="ea1f16e7-2319-48c6-94d9-71ed54902aae">footerProperties</Composition>
      <Composition Key="2b734484-f6e1-44e7-8656-50fee59bdaf9">mainNavigationProperties</Composition>
      <Composition Key="0dca7b9f-69e7-499d-8187-c71f52b575e1">siteSettingsProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="00caebaf-b002-41a9-a237-19fbaf380116" SortOrder="0">pageTags</ContentType>
    <ContentType Key="b9dffd12-0916-45f9-af0b-e8771b85c92e" SortOrder="1">reusableContentRepository</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>