@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
	var siteSettings = Model.GetSiteSettings();
	if(siteSettings?.FooterContent ==null) { 
		return; 
	}
}

<footer class="footer text-center">
	<div class="container">
		<div class="row">
			@await Html.GetBlockGridItemsHtmlAsync(siteSettings.FooterContent)
		</div>
	</div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
	<div class="container"><small>&copy; @Umbraco.GetDictionaryValueOrDefault("Copyright statement", "Copyright") @DateTime.Now.Year</small></div>
</div>
